body,
html {
  margin: 0;

}

div, p, h1, h2 {
  user-select: none;
}

#root {
  height: 100vh;
  background: linear-gradient(#a01a58 0%, #0091ad);

}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}


